    // font-family: 'Roboto', sans-serif;
    // font-family: 'Montserrat', sans-serif;
    * {
        margin: 0px;
        line-height: 1.5em;
        font-family: 'Montserrat', sans-serif;
        color: black;
    }
    
    .test {
        background-image: linear-gradient(to bottom, #246547, #478b88, #87afbc, #cad4e1, #ffffff);
        padding-top: 10px;
        height: 92vh;
    }
    
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 8vh;
        width: 100vw;
        // padding: 10px;
        background-color: #246547;
        .navContainer {
            display: flex;
            width: 25vw;
            li {
                flex: 1;
                list-style: none;
                color: white;
            }
        }
        #navHeader {
            margin-left: 15px;
            font-size: 2.5em;
            font-family: 'Roboto', sans-serif;
            color: white;
            i {
                color: white;
            }
        }
    }
    
    #profileHeader {
        display: flex;
        margin: 0 0 30px 20px;
        align-items: center;
        img {
            height: 120px;
            width: auto;
            border-radius: 5%;
            border: 1px solid #246547;
            margin-right: 15px;
        }
    }
    
    #profileContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 50px;
        width: 85vw;
        height: 60vh;
        h2 {
            height: max-content;
            width: 100%;
            // padding-bottom: 20px;
        }
        #friendCardsContainer {
            border: 2px solid #246547;
            border-radius: 5px;
            width: 25vw;
            height: 40vh;
            text-align: center;
            overflow: hidden;
            position: relative;
            // height: 50%;
            .fCardHeader {
                margin-bottom: 5px;
                background-color: #246547;
                h2 {
                    padding-bottom: 0px;
                }
                p {
                    padding-bottom: 10px;
                }
                img {
                    width: 100px;
                    height: auto;
                    border-radius: 50%;
                    margin-top: 10px;
                }
            }
            .fCardBody {
                display: flex;
                flex-direction: column;
                &:before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-image: linear-gradient(transparent 80%, white);
                }
            }
        }
    }
    
    #topContainer {
        height: 100vh;
        .container {
            background-image: linear-gradient(to bottom, #246547, #478b88, #87afbc, #cad4e1, #ffffff);
            background-size: cover;
            height: 92vh;
            display: flex;
            justify-content: center;
            align-items: center;
            form {
                background-color: rgba(255, 255, 255, 0.582);
                border-radius: 5px;
                height: 40vh;
                width: 50vw;
                align-items: center;
                display: flex;
                justify-content: center;
                border: 1px solid #246547;
                ul {
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    height: 60%;
                    padding: 0;
                    li {
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        label {
                            // font-family: 'Roboto', sans-serif;
                            margin-right: 5px;
                        }
                    }
                    button {
                        color: white;
                        background-color: #246547;
                        padding: 5px;
                        border: 1px solid black;
                        border-radius: 2px;
                    }
                }
            }
        }
    }
    
    #myRatingsDiv {
        height: 100vh;
        padding: 50px 50px 0 50px;
        .ratings {
            display: flex;
            flex-direction: column;
            .aRatingDiv:nth-child(2n-1) {
                background-color: lightgray;
            }
            .buttonsOnRatings {
                display: flex;
                // flex-direction: column;
                padding-right: 10px!important;
                flex-basis: 0;
                flex-grow: 1;
                .updateReviewButton {
                    // flex-basis: 0;
                    flex-grow: 1;
                }
                .deleteReviewButton {
                    // flex-basis: 0;
                    flex-grow: 1;
                }
            }
            .buttonsOnRatings:nth-child(2n) {
                padding: 10px 0;
            }
        }
        h2 {
            margin-bottom: 20px;
        }
        .aRatingDiv {
            margin: 0 auto;
            width: 100%;
            display: flex;
            .myRatingText {
                width: 90%;
            }
        }
    }
    
    @media screen and (max-width: 992px) {
        nav {
            .navContainer {
                width: 40vw;
            }
        }
    }
    
    @media screen and (max-width: 600px) {
        nav {
            height: auto;
            .navContainer {
                width: 100vw;
            }
            #navHeader {
                margin: 0 auto;
            }
        }
        li {
            flex-basis: 50%;
        }
    }