<div class="container">
<form>
    <ul class="flex-outer">
        <li>
            <label for="searchBox">Search</label>
            <input type="text" id="searchBox" placeholder="">
        </li>

        <button type="submit" id="searchMoviesButton">Search Movies</button>
        <button type="submit" id="searchFriendsButton">Search Friends</button>
    </ul>

</form>
</div>
{{!-- try to close topContainer class --}}
</div>